<div  ng-controller="d2ResourcejsonController">
<accordion close-others="true">
<accordion-group is-open="status.open" ng-repeat="(skey, section) in sections">
        <accordion-heading>
            {{section.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
	     
       <table class="table table-condensed">
         <tbody>
        <tr ng-repeat="(key, group) in section.dataElementGroup" class="{{style[skey][key]}}">
          <td>{{group.name}}</td>
          <td>
          <div class="btn-group-xs" role="group" aria-label="...">
             <button type="button" class="btn btn-{{ListnameDataelement[dataElement.code].name?'default':'warning'}}"   tooltip-trigger="focus" tooltip-placement="right"  ng-repeat="dataElement in group.dataElements">{{ListnameDataelement[dataElement.code]?ListnameDataelement[dataElement.code].name:dataElement.code}}</button>
          </div>
          </td>
          <td>
       	 <button ng-click="selectgroup(key,skey)" type="button" class="btn btn-{{style[skey][key]}}" aria-label="Left Align">
		  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</button>
          </td>
        </tr>        
      </tbody>
    </table>
    </accordion-group>
  </accordion>

<div class="row">
				<div class="col-md-6">
					
				</div>

				<div class="col-md-6">
					<button type="button" class="btn btn-default" ng-click="">{{'PROJECT_CANCEL' | translate}} </button>
					<button ng-click="" type="button" class="btn btn-primary">{{'PROJECT_SAVE' | translate}} </button>
				</div>
		</div>

</div>