<div class="dropdown" ng-controller="d2DropdownorgunitgroupsetController">
 <div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    {{ougName?ougName:'SELECT_OPTION' | translate}}
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
		   <li ng-repeat="data in ListOrgUnitGroups.organisationUnitGroups">
			   <a  ng-click='selectOrgUnitGroup(data)'>{{data.name}}</a>
		   </li>
	   </ul>
	</div>
</div>