<d2-authorization menuoption="F_APPROVE_DATA"></d2-authorization>
<div class="row">
	<div class="col-md-12">
		<div class="col-md-6">
			<h2>{{'OPERATIONALCENTER_TITLE' | translate}} </h2>
		</div>
		<div class="col-md-6">
			<h2>	<button ng-click="showfields()" type="button" class="btn btn-primary">{{'MISSION_CREATE' | translate}}</button></h2>
		</div>
	</div>
</div>

<div ng-show="true">
	<div class="row">
		<div class="col-md-6">
			<label for="exampleInputName2">{{'MISSION_NAME' | translate}}</label>
			<input ng-model="mdname" type="text" class="form-control" id="exampleInputName2" placeholder="{{'MISSION_PLACEHOLDER_NAME' | translate}}">
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<label for="exampleInputName2">{{'MISSION_OPENING_DATE' | translate}}</label>
			<input ng-model="mdopendate" type="text" class="form-control" id="exampleInputName2" placeholder="{{'MISSION_PLACEHOLDER_OPENING_DATE' | translate}}">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<button ng-click="missionsave()" type="button" class="btn btn-primary">{{'MISSION_SAVE' | translate}}</button>
		</div>

		<div class="col-md-4">
			<button type="button" class="btn btn-danger">Clear Data</button>
		</div>
	</div>
</div>