<d2-authorization menuoption="F_APPROVE_DATA"></d2-authorization>
<div class="row">
	<div class="col-md-6">
		<alert ng-repeat="message in messages" type="{{message.type}}" close="closeAlertMessage($index)">{{message.text}}</alert>
	</div>
</div>

<div class="row" ng-show="!showfields">
<div class="col-md-12">
	<div class="col-md-6">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group well well-sm">
                <label>{{'MISSION_LABEL_LIST' | translate}}</label>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="child in ListChildren">{{child.name}}</li>
                </ul>
            </div>
        </form>
    </div>
	<div class="col-md-6">
		<h2>	<button ng-click="showForm()" type="button" class="btn btn-primary">{{'MISSION_CREATE' | translate}}</button></h2>
	</div>
</div>
</div>

<div ng-show="showfields" class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">{{'MISSION_TITLE' | translate}}</div>
  <div class="panel-body">
	<div class="row">
		<div class="col-md-12">
			<label for="exampleInputName2">{{'MISSION_NAME' | translate}}</label>
			<d2-findorganisationunit field="name" placeholder="{{'MISSION_PLACEHOLDER_NAME' | translate}}" ></d2-findorganisationunit>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			<label for="exampleInputName2">{{'MISSION_OPENING_DATE' | translate}}</label>
			<p class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="mdopendate" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
		</div>
	</div>
<br>
	<div class="row">
		<div class="col-md-6">
			<button ng-click="missionsave()" type="button" class="btn btn-primary">{{'MISSION_SAVE' | translate}}</button>
		</div>

		<div class="col-md-6">
			<button type="button" class="btn btn-danger" ng-click="hideForm()">{{'MISSION_CANCEL' | translate}}</button>
		</div>
	</div>
	<br>

</div>
	</div>
</div>



