<d2-authorization menuoption="F_APPROVE_DATA"></d2-authorization>

<br/>

<div class="row">
<div class="col-md-11">
<div class="panel panel-default">
<div class="panel-body">

<div ng-hide="showfields" class="col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
               {{'HEALTHSERVICE_DETAILS' | translate}}
            </div>

            <div class="col-md-2">
                <div class="text-right">
                    <a href="#/HealthService" ng-click="enableforEdit()">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                    <a href="#/HealthService" ng-click="modalDelete()">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
						<label for="InputName2">{{'HEALTHSERVICE_NAME' | translate}}</label>
                        <d2-findorganisationunit field="name" value="{{healthservicename}}" operation="show" placeholder="{{'HEALTHSERVICE_NAME' | translate}}"></d2-findorganisationunit>
					</div>
					
					<div class="col-md-6">
						<label for="sel12"> {{'HEALTHSERVICE_OPENING_DATE' | translate }} </label>
						<p class="input-group">	
						<input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="healthservicecreated" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-disabled="operation=='show'" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />																																		
						<span class="input-group-btn">
             		        <button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="operation=='show'"><i class="glyphicon glyphicon-calendar"></i></button>
             		   </span>				
						</p>
					</div>
					
					
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-12">
						
			
				<div class="row">
				
					<div class="col-md-4">
						<label for="sel12"> {{'HEALTHSERVICE_CODE' | translate }} </label>
                        <d2-findorganisationunit field="code" value="{{healthservicecode}}" operation="show" placeholder="{{'HEALTHSERVICE_CODE' | translate}}"></d2-findorganisationunit>
					</div>
				
				
					<div class="col-md-4">
						<label for="sel12"> {{'HEALTHSERVICE' | translate }} </label>
						<d2-dropdownorgunitgroupset uidgroupSet="BtFXTpKRl6n" operation="{{operation}}"></d2-dropdownorgunitgroupset>
					</div>
				
					<div class="col-md-4">
						<label for="sel12"> {{'HEALTHSERVICE_TYPE' | translate }} </label>
						<d2-dropdownorgunitgroupset uidgroupSet="akYeq1mMz2N" operation="show"></d2-dropdownorgunitgroupset>
					</div>

				</div>								
			
			</div>
		</div>
				
				
		
		
		</div>
	</div>
</div>
    <div class="row" ng-show="operation=='edit'">
        <div class="col-md-6">

        </div>

        <div class="col-md-6 text-right">
            <button ng-click="EditService()" type="button" class="btn btn-primary btn-sm">{{'SERVICE_SAVE' | translate}}</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="enableforshow()">{{'SERVICE_CANCEL' | translate}}</button>
        </div>

    </div>

<br/>

    <div class="row">
        <div class="col-md-12">
            <alert ng-repeat="message in messages" type="{{message.type}}" close="closeAlertMessage($index)">{{message.text}}</alert>
        </div>
    </div>

<d2-resourcejsondataset id="datasetbyservices"></d2-resourcejsondataset>

</div>
</div>
</div>
</div>

<d2-modaldialogbox></d2-modaldialogbox>
